<div class="col-sm-6 col-sm-offset-3 new-form">
<%= simple_form_for @post do |f| %>

<%= f.input :photo %>
<%= f.input :description %>
<%= f.submit 'Post', class:'btn btn-default btn-block' %>

<% end %>
</div>